/* Estilo para el contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  background-color: #221d1d;
  color: #000000;
  padding: 0; /* Eliminar padding del contenedor */
  margin: 0;
  min-height: 100vh; /* Asegurarse de que el contenedor ocupe toda la altura de la ventana */
  display: flex;
  flex-direction: column;
}

.titleContainer {
  text-align: center;
  background-image: url('Noxus3.jpg'); /* Fondo compartido entre el nombre y el subtítulo */
  background-size: cover;
  background-position: center;
  padding: 100px 0; /* Espacio suficiente para que no quede apretado */
  color: white;
  position: relative; /* Necesario para el pseudo-elemento */
}

/* Filtro gris sobre la imagen */
.titleContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Filtro gris oscuro, puedes ajustar la opacidad (0.3) */
  z-index: 1; /* El filtro gris queda debajo de las letras */
}

/* Estilo para el nombre */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0; /* Elimina el margen para que el nombre esté pegado al subtítulo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la visibilidad */
  z-index: 2; /* El texto (nombre) estará por encima del filtro */
  position: relative;
}

/* Estilo para el subtítulo debajo del nombre */
.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 10px; /* Opcional, puedes ajustarlo si lo ves necesario */
  color: white;
  z-index: 2; /* El texto (subtítulo) estará por encima del filtro */
  position: relative;
}

/* Estilos para los títulos de las secciones */
.sectionTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  
  color: #5e1600;
  text-align: center;
  border-bottom: 2px solid #000000; /* Subrayado verde */
  padding-bottom: 10px; /* Espacio entre el texto y el subrayado */
  margin-bottom: 20px; /* Espacio debajo del título */
}



/* Estilo para las secciones */
.section {
  flex: 1; /* Esto hace que cada sección ocupe todo el espacio disponible */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0px; /* Elimina los bordes redondeados */
  border-top: 2px solid #000000; /* Borde superior */
  border-bottom: 2px solid #000000; /* Borde inferior */
}

/* Estilos para los botones */
.button {
  background-color: #29009b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: #4b19d4;
}

/* Estilo general para las cards */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsivo */
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Sube ligeramente al hacer hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efecto de sombra más fuerte */
}

.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #666;
}


.githubLink {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none; /* Quita el subrayado del enlace */
}

/* Estilo para el logo de GitHub */
.githubIcon {
  position: relative;
  z-index: 2;
  width: 30px; /* Tamaño del logo */
  height: 30px; /* Tamaño del logo */
  transition: transform 0.3s ease;
}

.githubLink:hover .githubIcon {
  position: relative;
  z-index: 2;
  transform: scale(1.1); /* Efecto de aumento al hacer hover */
}